*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.llt
*.tdo
*.obj
*.pyc
*.pytxcode
*.swp
*.ipynb_checkpoints
*.o
*.f
sac/sac/src/.deps
sac/sac/src/vacusr.t.*
sac/sac/src/vacusrpar.t.*
sac/sac/vac

*.pkl
*.pytxmcr
*.pytxpyg
*.ini
*.gdf
*.png
*/*.png

*.o*
*/*.o*
*.e*
*/*.e*
*.po*
*.pe*
*.save
